@use "../abstracts/breakpoints" as media;

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: rem(200px) 0px;
  &__container {
    width: 25vw;

    &-decoration {
      background-color: $green-color;
      transform: rotate(-3 deg);
      width: rem(450px);
      height: rem(250px);
      position: relative;
      box-shadow: rem(5px) rem(5px) 20px #7e7d7d;
    }

    &-video {
      position: absolute;
      left: rem(140px);
      top: 720px;
      width: rem(450px);
      height: rem(350px);
      //box-shadow: rem(5px) rem(5px) 5px #d5d7d7;
    }
  }
}
