@use "../abstracts/breakpoints" as media;
.culture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: rem(100px) 0px;
  padding: 0px rem(10px);

  @include media.query(">=lg") {
    margin: rem(200px) 0px;
    padding: 0px rem(100px);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);

    &-separator {
      background: linear-gradient(
        to right,
        $blue-color 20%,
        $green-color,
        orange
      );
      width: 60%;
      height: rem(2px);
      align-self: center;
      @include media.query(">=lg") {
        width: 80%;
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: rem(950px);

    @include media.query(">=lg") {
      flex-direction: row;
      justify-content: space-between;
      height: rem(500px);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: rem(300px);
    width: auto;
    margin-bottom: rem(15px);
    box-shadow: rem(5px) rem(5px) 20px #7e7d7d;
    @include media.query(">=lg") {
      height: 100%;
    }
    &__img {
      width: auto;
      height: 75%;
      border-radius: 5px;
    }
  }

  &-little {
    display: flex;
    flex-direction: column;
    height: rem(240px);
    justify-content: center;
    align-items: flex-end;
    margin-bottom: rem(15px);
    box-shadow: rem(5px) rem(5px) 20px #7e7d7d;
    @include media.query(">=lg") {
      height: 48%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__img {
      height: 70%;
      width: 100%;
      border-radius: 5px;

      @include media.query(">=lg") {
        height: 90%;
        width: 50%;

        margin-left: rem(10px);
      }
    }
    &__legend {
      align-self: flex-end;
      @include media.query(">=lg") {
        margin-left: rem(5px);
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: rem(600px);
    @include media.query(">=lg") {
      height: 100%;
      width: 50%;
    }
  }

  &__bottom {
    margin-top: rem(40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media.query(">=lg") {
      margin-top: rem(40px);
      flex-direction: row;
      justify-content: space-between;
      height: rem(400px);
    }
    &-card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: rem(300px);
      width: 90%;
      box-shadow: rem(5px) rem(5px) 20px #7e7d7d;
      margin-bottom: rem(15px);
      @include media.query(">=lg") {
        height: 100%;
        width: 45%;
      }
    }
    &-img {
      border-radius: 5px;
      width: 100%;
      height: 70%;
      margin-bottom: rem(10px);

      @include media.query(">=lg") {
        width: auto;
        height: 60%;
      }
    }
  }
}
