@use "../abstracts/breakpoints" as media;
.header {
  display: flex;
  justify-content: space-between;
  padding: rem(10px) rem(20px);
  box-shadow: rem(5px) rem(5px) rem(20px) #7e7d7d;
  position: fixed;
  width: 100%;
  background-color: $white-color;
  z-index: 6;
  @include media.query(">=lg") {
    position: static;
    padding: rem(10px) 0px;
    box-shadow: rem(5px) rem(10px) #7e7d7d;
    z-index: 0;
    height: rem(80px);
  }

  &__logo {
    cursor: pointer;
    display: inline-block;
    &:focus {
      border: 5px solid $red-color;
    }

    &-img {
      height: rem(40px);
      width: auto;

      @include media.query(">=lg") {
        height: rem(50px);
        width: auto;
      }
    }
  }
}
