@use "../abstracts/breakpoints" as media;

.places {
  margin: rem(100px) 0px;
  padding: 0px rem(5px);
  @include media.query(">=lg") {
    margin: rem(200px) 0px;
    padding: 0px rem(100px);
  }
}
.card-places {
  display: flex;
  flex-direction: column;
  position: relative;
  height: rem(200px);
  width: 90%;
  margin-bottom: rem(20px);
  justify-content: center;

  @include media.query(">=lg") {
    display: flex;
    flex-direction: column;
    position: relative;
    height: rem(200px);
    width: 30%;
    margin: rem(20px) rem(3px);
    justify-content: center;
  }

  &__img {
    width: auto;
    height: 80%;
    border-radius: rem(5px);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__anchor {
    background-color: $green-color;
    border-radius: rem(5px);
    width: 30%;
    height: 50%;
    padding: rem(10px) rem(10px);
    color: $black-color;
    transition: border 1s ease-in-out, transform 1.5s ease-in-out;
    font-weight: 800;
    font-style: normal;
    &:hover {
      cursor: pointer;
      color: $green-color;
      background-color: transparent;
      border: 1px solid $green-color;
      transform: rotate(360deg);
    }
    &:focus {
      border: 5px solid $red-color;
    }
  }
}
