// Breakpoints
$breakpoints: (
  "sm": 768px,
  "md": 1024px,
  "lg": 1200px,
  "xl": 1400px,
);

// Font Sizes
$root-font-size: 16px;

// Colors
$green-color: #678e3d;
$black-color: #051200;
$white-color: #fdfffe;
$red-color: #f71c30;
$blue-color: #007ab3;
$gray-color: #7e7d7d;
