*,
::after,
::before {
  box-sizing: content-box;
}

html {
  font-size: $root-font-size;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
